<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>翻译页</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"><!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}"><!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"><!-- css主文件 -->
</head>

<body>
<!-- 翻译页 start -->
<div class="container">
  <div class="translate bottom20">
    <table class="table table-bordered table-hover">
      <tr>
        <th scope="row" width="15%">疾病编号：</th>
        <td width="42%">{{info["sys_no"]}}</td>
        <td width="42%"><input class="form-control"  name="" type="text" /></td>
      </tr>
      <tr>
        <th scope="row">疾病名称：</th>
        <td>{{info["disease_name"]}}</td>
        <td><textarea class="form-control" id="name_zh" name="" cols="" rows="">{{info["disease_name_zn"]}}</textarea></td>
      </tr>
      <tr>
        <th scope="row">疾病描述：</th>
        <td>{{info["text"]}}</td>
        <td><textarea class="form-control" id="text_zh" name="" cols="" rows="">{{info["text_zn"]}}</textarea></td>
      </tr>
      <tr>
        <td class="translate-btn" colspan="3" scope="row" >

          <button  class="btn btn-info" onclick="update(0,{{info['sys_no']}})">保存</button>
          <button  class="btn btn-success" onclick="update(1,{{info['sys_no']}})" >提交</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- 翻译页 end -->
<script src="{{url_for('static',filename='js/taskdetail.js')}}"></script>
</body>
</html>